body{
  background-color: #101D36;
  color: white;
}

section{
  border: 2px solid transparent;
  margin: 3rem;
  align-content: center;
}

header{
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

address{
  display: flex;
  color: #A55396;
  align-items: center;
  margin-right: 2rem;
}

.App{
  border: 2px solid white;
  margin: 2px;
  border-radius: 20px;
  filter: drop-shadow(15px 15px 20px black) drop-shadow(-15px -15px 20px black);
}